body {
background-color: black;
}

.para1 {
	position: absolute;
	font-family: 'Adobe Garamond Pro', cursive;
	color: white;
	font-size: 1.5em;
	top: 43%;
	width: 40%;
  left: 47%;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
}



.TheHot10 {
	padding-top: 1%;
position: absolute center;
	font-family: 'Adobe Garamond Pro', cursive;
	color: white;
	font-size: 2em;
	text-align: center;
  left: 35%;

}


