body {
  background-color: #FFFFFF;
  animation: breathe 11s infinite;
  animation-timing-function: ease-in-out;
}

.flex-parent{
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex-item{
  margin: auto;
  max-width: 50%;
}

@keyframes breathe {
  0% {
    background-color: #99ccff;  
  }
  50% {
    background-color: #b2a1c7;  
  }
  100% {
    background-color: #99ccff;  
  }
}

audio {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}


.next a {
    color: black;
    text-decoration: none;
}
.next a:hover {
    color: black;
}

    .nav ul{}
        .nav ul li{
            display: inline-block;
            height: 100px;
            
        }
            .nav ul li a:hover{
                background-color: #ffea00;
                
            }
            .nav ul li a:active{ background-color: #ffea00; }


.next {
 writing-mode: tb-rl;
position: fixed;
    font-family: 'Courier', cursive;
    color: white;
    font-size: 3em;
    top: 40%;
    width: 100%;
  left: 3.5%;
  font-weight:;
}




.wave {
  opacity: .5;
  position: absolute;
  top: 45%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
  opacity: .4;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}





