@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


html { font-size:100%; }


@media (min-width:1100px) { body {font-size:1.5rem;} }



header {
  color: black;
  font-family: "Andale Mono";
  font-size: 3em;
}

.navigation {


}

img {
width: 150px;
height:;
}

nav {
  font-family: "Andale Mono";
  float: left;
  background: #aaa;
 
  position: absolute;
top: 50%;
}

nav a {
  color: #c00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;

}

article {
  font-family: "Andale Mono";
  padding: 20px 10px;
  margin-left: 100px;
  position: absolute;
top: 40%;
}

footer {
  font-family: "Andale Mono";
  font-size: 0.75em;
  padding: 10px;
  clear: both;
  position: absolute;
top: 90%;
}