body{
background: white;
}


p{ line-height: 1em;
  font-family: "Helvetica";
  font-weight: bold;
position: absolute; 
color: black;
   top: 5%; 
   left: 5%; 
   width: 82%;
   font-size: 2em 

   }
h1, h2, h3, h4{
    color: white;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 10em; 
}

.PARSONS img{
  width: 300px;
  height: 300px;
}
.PARSONS {
  position: absolute;
top: 25%;
left: 80%;
}

.NY {
position: absolute;
top: 30%;
left: 25%;

}
