body {
background-color: black;
}

.parallax__layer--image1, .parallax__layer--image2, .parallax__layer--image3 {
	padding: 1em;


}
img{
	width: 100%;
	height: auto;
	border: 1px solid red;
}


.paraimages {
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer--image1 {
  width: 700px;
	height: 400px;
  transform: translateZ(-1px);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
	right: 45%;
}

.parallax__layer--image2 {
  transform: translateZ(-0.25px);
  width: 600px;
	height: 300px;
  position: absolute;
  bottom: 0;
  left: 35%;
  top: 100%;
	right: 45%;
}

.parallax__layer--image3 {
  width: 600px;
	height: 300px;
  transform: translateZ(-1px);
  position: absolute;
  bottom: 0;
  left: 0;
	right: 45%;
  top: 200%;
}

.title {
	transform: translateZ(-0.5px);
	position: absolute;
	font-family: 'Andale Mono', cursive;
	color: white;
	font-size: 7em;
	letter-spacing: 0.05em;
	top: 80%;
	width: 100%;
	text-align: center;
	  z-index: 10;
}
.date {
	transform: translateZ(-0.5px);
	position: absolute;
	color: #f2f2f2;
	font-family: 'Andale Mono', sans-serif;
	font-size: 1.6em;
	letter-spacing: 0.05em;
	top: 100%;
	width: 100%;
	text-align: center;	
	  z-index: 10;
}

.redline {
	transform: translateZ(-0.5px);
	color: red;
	  z-index: 10;
}
