body {
background-color: black;
}

a {
    color: white;
    text-decoration: none;

}
a:hover {
    color: white;
}

h1 {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.cover {
  
  font-family: 'Baskerville', cursive;
  font-size: 9em;
position: absolute;
  top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

}
