body {
background-color: black;
}

a {
    color: white;
    text-decoration: none;
-webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}


.cover {
  
  font-family: 'Baskerville', cursive;
  font-size: 12em;
position: absolute;
  top: 35%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

}
