body {
background-color: black;
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700');

.para1 {
	position: absolute;
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	color: white;
	font-size: 1.5em;
	top: 43%;
	width: 40%;
    left: 47%;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: black;
}

	.nav ul{}
		.nav ul li{
			display: inline-block;
			height: 100px;
			
		}
			.nav ul li a:hover{
				background-color: #FCFCB3;
				
			}
			.nav ul li a:active{ background-color: #FCFCB3; }


.beetlejuice {
position: absolute center;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	color: white;
	font-size: 3.6em;
	top: 0%;
	text-align: center;

}

.next {
 writing-mode: tb-rl;
position: absolute;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	color: white;
	font-size: 3.6em;
	top: 40%;
	width: 100%;
  left: 3.5%;
}

.video {
  position: absolute;
	top: 45%;
	text-align: center;
  left: 15%; 
}


@media (max-width: 480px) {


.para1 {
	position: absolute;
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	color: white;
	font-size: 1.3em;
	top: 25%;
	width: 65%;
  left: 7%;
}


.beetlejuice {
position: absolute;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	color: white;
	font-size: 2.2em;
	top: -3%;
	text-align: none;
}

.next {
 writing-mode: tb-rl;
position: absolute;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	color: white;
	font-size: 2.2em;
	top: 72%;
	width: 90%;
  left: 10%;
}

.video video{
	    width: 100%;
    height: auto;
	top: 50%;
	left: 0%
}



}

