body {
background-color: black;
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700');

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: black;
}

	.nav ul{}
		.nav ul li{
			display: inline-block;
			height: 100px;
			
		}
			.nav ul li a:hover{
				background-color: #FCFCB3;
				
			}
			.nav ul li a:active{ background-color: #FCFCB3; }


.beetlejuice {
position: absolute center;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	color: white;
	font-size: 3.6em;
	top: 0%;
	text-align: center;
  left: 35%;
  font-weight:bold;
}

.video {
  position: absolute center;
	top: 0%;
	text-align: center;

}

@media (max-width: 480px) {


.beetlejuice {
position: absolute center;
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	color: white;
	font-size: 2.2em;
	top: 0%;
	text-align: center;
  left: 35%;
  font-weight:bold;
}

.video {
  position: absolute center;
	top: 40%;
		text-align: none;
}

.video video{
	width: 100%;
    height: auto;
}



}