body {
  background: black;
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700');

.parapara {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
	color: white;
	font-size: 1.8em;
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parapara ul{}
    .parapara ul li{
      display: inline-block;
      height: 100px;
      
    }
      .parapara ul li a:hover{
        background-color: #FCFCB3;
        
      }
      .parapara ul li a:active{ background-color: #FCFCB3; }

.parallax__layer--para1 {
  width: 700px;
  transform: translateZ(-0.15px);
  position: absolute;
  bottom: 0;
  left: 10%;
  top: 35%;
	right: 0%;
  z-index: 10;
}

.parallax__layer--para2 {
  transform: translateZ(0.5px);
  width: 600px;
  position: absolute;
  bottom: 0;
  left: 35%;
  top: 75%;
	right: 45%;
  z-index: 10;
}

.parallax__layer--para3 {

  width: 900px;
  transform: translateZ(0.1px);
  position: absolute;
  bottom: 0;
  left: 15%;
	right: 0%;
  top: 120%;
  z-index: 10;


}

img{
  width: 100%;
  height: auto;
}

.parallax__layer--image1 {
  width: 700px;
	height: 400px;
  transform: translateZ(-1px);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
	right: 45%;
}

.parallax__layer--image2 {
  transform: translateZ(0px);
  width: 600px;
	height: 300px;
  position: absolute;
  bottom: 0;
  left: 45%;
  top: 80%;
	right: 45%;
}

.parallax__layer--image3 {
  width: 650px;
	height: 450px;
  transform: translateZ(-1px);
  position: absolute;
  bottom: 0;
  left: 15%;
	right: 0%;
  top: 150%;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: black;
}

  .nav ul{}
    .nav ul li{
      display: inline-block;
      height: 100px;
      
    }
      .nav ul li a:hover{
        background-color: #FCFCB3;
        
      }
      .nav ul li a:active{ background-color: #FCFCB3; }


.previous {
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  position: absolute;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  color: white;
  font-size: 2em;
  top: 59%;
  width: 100%;
  right: 4.1%;
  font-weight:bold;
}


.next {
 writing-mode: tb-rl;
position: absolute;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  color: white;
  font-size: 2em;
  top: 150%;
  width: 100%;
  text-align: left;
  left: 3.5%;
  font-weight:bold;
  
}

@media (max-width: 480px) {


.parapara {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: white;
  font-size: 1.5em;
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer--para1 {
  width: 80%;
  transform: translateZ(-0.15px);
  position: absolute;
  bottom: 0;
  left: 5%;
  top: 10%;
  right: 0%;
  z-index: 10;
}

.parallax__layer--para2 {
  transform: translateZ(0.5px);
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 5%;
  top: 50%;
  right: 0%;
  z-index: 10;
}

.parallax__layer--para3 {

  width: 80%;
  transform: translateZ(0.1px);
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 0%;
  top: 110%;
  z-index: 10;


}

.previous {
display: none;
}

.next {
 writing-mode: tb-rl;
position: absolute;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  color: white;
  font-size: 2.2em;
  top: 150%;
  width: 90%;
  left: 10%;
}



}