*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: 
overflow: hidden;
}

body{
	background: black;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat');

.TheHot10 a {
  text-decoration: none;
 color: white;

		}



.TheHot10 {
	padding-top: 2%;
	padding-bottom: 1%;
position: absolute center;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: 500;
	font-size: 2em;
	text-align: center;
  left: 35%;

}

.hot10list {
	  padding: 10px 0;
		  font-size: 3.25rem;
		  	font-family: 'Montserrat', sans-serif;
      font-weight: 500;
position: absolute;
  top: 290px;
  left: 150px;
  z-index: 1;
}

.hot10list ul {
  list-style-type: none;
  color: white;
  position: absolute;
  width: 1200px;
line-height: 130px;
z-index: 1;
}

.hot10list a {
  text-decoration: none;
 color: white;
 -webkit-transition: color 0.3s ease;
		  transition: color 0.3s ease;
		}